.title {
    text-align: center;
    padding: 25px;
    font-size: 30px;
}

.pageContent {
    display: flex;
    justify-content: center;
}

.calculatorContainer {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 20px;
    gap: 10px;
    max-width: fit-content;
    justify-content: center;
    align-items: center;


}

.allButtonsContainer {
    display: flex;
    gap: 10px;
}

.leftBtns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rightBtns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.screen {
    background-color: antiquewhite;
    min-height: 50px;
    min-width: 220px;
}

.numBtn {
    padding: 15px;

}

.functionBtn {
    padding: 15px;

}

.equalsBtn {
    padding: 15px;

}
.clearBtn {
    padding: 15px;
}