.calculatorContainer {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 20px;
    gap: 10px;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
}

.allButtonsContainer {
    display: flex;
    gap: 10px;
}

.leftBtns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rightBtns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.screen {
    background-color: antiquewhite;
    min-height: 50px;
    min-width: 250px;
}